$blueblack:#32333c;
$mainblue:#306ee9;
$lightgray: #dee0e2;
$gray8: #878998;
table {
    width: 960px;
    margin: 0 auto;
    color: #32333c;
    border-color: #f4f5f7;
    thead {
        border-color: $mainblue;
        height: 48px;
        color: #fff;
        font-size: 16px;
        background: $mainblue;
        tr {
            height: 48px;
            th {
                text-align: center;
                line-height: 48px;
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
            }
        }
    }
}


.type1 {
    font-size: 12px;
    line-height: 50px;
}


.type2 {
    line-height: 20px;
    font-size: 14px;
    padding: 5px;
    text-align: left;
    a {
        color: #666666;
    }
    a:hover {
        color: #306ee9;
    }

    .explain {
        margin-left: 5px;
        position: relative;
        &:hover {
            .explain_box {
                display: block;
            }
        }
        .explain_box {

            position: absolute;
            top: -5px;
            right: -160px;
            color: #e60012;
            font-size: 12px;
            line-height: 20px;
            padding: 5px;
            width: 145px;
            background: #ffd101;
            display: none;
            border-radius: 5px;
            .yellow_arrow {
                position: absolute;
                top: 5px;
                left: -6px;
                width: 6px;
                height: 10px;
                display: block;
                background: url('../../img/yellow_arrow_03.png') no-repeat center center;
            }
        }
    }
}

.type3 {
    font-size: 14px; //line-height: 50px;
}

.type4 {
    line-height: 20px;
    font-size: 12px;
    padding: 5px;
    text-align: left;
}

.type5 {
    a {
        line-height: 25px;
        display: inline-block;
        width: 40px;
        height: 25px;
        font-size: 12px;
        color: #666666;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 3px;
        &:hover {
            color: #306ee9;
        }
    }
}

.type6 {
    line-height: 20px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.fs12 {
    font-size: 12px;
}


//ui2
table {
    /* width: 960px;
    margin: 0 auto;
    color: #32333c;
    border-color: #f4f5f7;*/
    width: 960px;
    margin: 0 auto;
    color: #32333c;
    /*border-color:#f4f5f7;*/
    border: 0;
    background-color: #fff;
}

table thead {
    border-color: #fff;
    height: 48px;
    font-size: 16px;
    background: #fff;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0px 4px 10px 1px #f7f7f7;
    border-top: 0px solid #fff;
    color: #333333;
}

table thead tr {
    height: 48px;
}

table thead tr th {
    text-align: center;
    line-height: 48px;
}

table tbody tr td {
    text-align: center;
}

.bg_white {
    background: #fafbfc;
}

.bg_gray {
    background: #fff;
}